body{
	background-color: #fff;
	line-height: 3em;
	letter-spacing: 4px;
}

.container{
	margin: 0px 20px 0 20px;
	text-align: left;
	text-indent: 4em;
	font-size: 20px;
}

.images{
	margin: 60px 20px 0 20px;
	text-align: center;
	font-size: 14px;
	line-height: 1.2em;
	letter-spacing: 4px;
}

img{
	width: 100%;
}

.videoBox{
	display: flex;
	align-items: center;
	justify-content: center;
}

#map{
	margin: auto;
}